<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign in to Media Codex</h5>
            <hr class="my-4">
            <form class="form-signin">
              <div class="form-label-group">
                <input type="text" class="form-control" placeholder="Email address" [(ngModel)]="email"
                  [ngModelOptions]="{standalone: true}">
                <label>Email address</label>
              </div>

              <div class="form-label-group">
                <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password"
                  [ngModelOptions]="{standalone: true}">
                <label>Password</label>
              </div>

              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div>
              <hr class="my-4">
              <button (click)="authenticate(email, password)" class="btn btn-primary btn-lg btn-block"
                [disabled]="loading">Sign in</button>
            </form>

            <div id="alert-message" class="alert alert-warning" role="alert" *ngIf="error">
              {{ error }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>