<body>
  <div class="container animated fadeIn fast">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign up to Media Codex</h5>
            <hr class="my-4">
            <form class="form-signin">
              <div class="form-label-group">
                <input type="text" class="form-control" placeholder="User name" 
                  [(ngModel)]="user.userName" [ngModelOptions]="{standalone: true}">
                <label>User name</label>
              </div>

              <div class="form-label-group">
                <input type="text" class="form-control" placeholder="First name" 
                  [(ngModel)]="user.firstName" [ngModelOptions]="{standalone: true}"> 
                <label>First name</label>
              </div>

              <div class="form-label-group">
                <input type="text" class="form-control" placeholder="Last name" 
                  [(ngModel)]="user.lastName" [ngModelOptions]="{standalone: true}"> 
                <label>Last name</label>
              </div>

              <div class="form-label-group">
                <input type="email" class="form-control" placeholder="Email address" 
                  [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}"> 
                <label>Email address</label>
              </div>

              <div class="form-label-group">
                <input type="text" class="form-control" placeholder="Address" 
                  [(ngModel)]="user.address" [ngModelOptions]="{standalone: true}"> 
                <label>Address</label>
              </div>

              <div class="form-label-group">
                <input type="password" class="form-control" placeholder="Password" 
                  [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}"> 
                <label>Password</label>
              </div>
              <hr class="my-4">
              <button (click)="register(userName,firstName,lastName,email,address,password)" 
                class="btn btn-primary btn-lg btn-block" [disabled]="loading"> Sign up
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>